In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn import svm
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_classification
import warnings
warnings.filterwarnings('ignore')
from sklearn.feature_selection import SelectKBest,mutual_info_classif

In [2]:
df = pd.read_csv('/media/raian/Projects/Datasets/UCI-HeartDisease/processed.cleveland_test.csv', header=None)
df.columns = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','target']
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [3]:
df.shape

(303, 14)

In [4]:
# converting to binary class
# replace class 1,2,3,4 by 1

df['target'] = df['target'].mask(df['target']>0, 1)

# count of tuples in class 1 after replacement

df['target'][df['target'] == 1].value_counts().sum()

139

In [5]:
# Replace '?' by np.nan

df = df.replace('?',np.nan)

# Find missing values np.nan

df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
target      0
dtype: int64

In [6]:
# Impute np.nan with Most Frequent values

df_imp = df.copy(deep=True)
df_imp
imp = SimpleImputer(strategy='most_frequent')
df_imp = pd.DataFrame(imp.fit_transform(df_imp),columns=df_imp.columns)
df_imp
df_imp.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
df.ca = df.ca.astype('float64')
df.thal = df.thal.astype('float64')
df.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target        int64
dtype: object

In [8]:
df_imp = df_imp.astype('float64')
df_imp.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target      float64
dtype: object

In [9]:
X = df_imp.drop(['target'],axis=1)

y = df['target']

In [10]:
sc = StandardScaler()
X_norm = pd.DataFrame(sc.fit_transform(X), columns = X.columns)

# Apply a Classification Algorithm

In [11]:
# define the model

def classification(X_data, cls_name, scoring_method):
    model = cls_name
    
# evaluate model

    cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
    n_scores = cross_val_score(model, X_data, y, scoring=scoring_method, cv=cv)
#     print(n_scores)
#     print(n_scores.shape)
# report performance
#     print('Accuracy: mean = %f ' % (n_scores.mean()))
    return n_scores.mean()

# Feature Subset using Mutual information (MI)

In [45]:
def apply_mi(n,measure,c):
    mi = SelectKBest(mutual_info_classif, k=n)
    X_mi = mi.fit_transform(X,y)
    X_mi_norm = mi.fit_transform(X_norm,y)
    
    Score_mi_C100.loc[Score_mi_C100['#Features'] == n,measure] = classification(X_data=X_mi, cls_name=LogisticRegression(C=c), scoring_method=measure)
    Score_mi_C100_norm.loc[Score_mi_C100_norm['#Features'] == n,measure] = classification(X_data=X_mi_norm, cls_name=LogisticRegression(C=c), scoring_method=measure)

### LR Default

In [13]:
Score_mi = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi['#Features']=[3,4,5,6,7,8,9,10]
Score_mi['Classification_Method']='LR'
Score_mi

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0                    LR          3      NaN       NaN    NaN  NaN     NaN
1                    LR          4      NaN       NaN    NaN  NaN     NaN
2                    LR          5      NaN       NaN    NaN  NaN     NaN
3                    LR          6      NaN       NaN    NaN  NaN     NaN
4                    LR          7      NaN       NaN    NaN  NaN     NaN
5                    LR          8      NaN       NaN    NaN  NaN     NaN
6                    LR          9      NaN       NaN    NaN  NaN     NaN
7                    LR         10      NaN       NaN    NaN  NaN     NaN

In [15]:
Score_mi_norm = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_norm['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_norm['Classification_Method']='LR'
Score_mi_norm

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0                    LR          3      NaN       NaN    NaN  NaN     NaN
1                    LR          4      NaN       NaN    NaN  NaN     NaN
2                    LR          5      NaN       NaN    NaN  NaN     NaN
3                    LR          6      NaN       NaN    NaN  NaN     NaN
4                    LR          7      NaN       NaN    NaN  NaN     NaN
5                    LR          8      NaN       NaN    NaN  NaN     NaN
6                    LR          9      NaN       NaN    NaN  NaN     NaN
7                    LR         10      NaN       NaN    NaN  NaN     NaN

In [16]:
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[1,1,1,1,1,1,1,1]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[1,1,1,1,1,1,1,1]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[1,1,1,1,1,1,1,1]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[1,1,1,1,1,1,1,1]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[1,1,1,1,1,1,1,1]))

[None, None, None, None, None, None, None, None]

In [17]:
Score_mi

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR,3,0.806703,0.809971,0.687912,0.797071,0.851467
1,LR,4,0.84853,0.835048,0.800916,0.826965,0.88729
2,LR,5,0.820896,0.847271,0.786996,0.803571,0.894752
3,LR,6,0.827491,0.85236,0.774542,0.807525,0.897148
4,LR,7,0.829642,0.850371,0.779304,0.804626,0.890937
5,LR,8,0.834086,0.85142,0.781868,0.80977,0.889652
6,LR,9,0.828495,0.853782,0.779487,0.815032,0.887144
7,LR,10,0.827419,0.854822,0.776923,0.814097,0.890936

In [18]:
Score_mi_norm

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR,3,0.806703,0.801196,0.791575,0.773223,0.845745
1,LR,4,0.825341,0.842505,0.767033,0.813007,0.887852
2,LR,5,0.83086,0.835139,0.784432,0.798402,0.887595
3,LR,6,0.830824,0.850809,0.798535,0.808239,0.891723
4,LR,7,0.827491,0.847551,0.770147,0.813444,0.89131
5,LR,8,0.839534,0.862484,0.779487,0.815483,0.891359
6,LR,9,0.840645,0.856475,0.791575,0.819844,0.890423
7,LR,10,0.837455,0.856136,0.782051,0.816626,0.898006

### LR (C=0.01)

In [19]:
Score_mi_C01 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_C01['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_C01['Classification_Method']='LR (C=0.01)'
Score_mi_C01

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0           LR (C=0.01)          3      NaN       NaN    NaN  NaN     NaN
1           LR (C=0.01)          4      NaN       NaN    NaN  NaN     NaN
2           LR (C=0.01)          5      NaN       NaN    NaN  NaN     NaN
3           LR (C=0.01)          6      NaN       NaN    NaN  NaN     NaN
4           LR (C=0.01)          7      NaN       NaN    NaN  NaN     NaN
5           LR (C=0.01)          8      NaN       NaN    NaN  NaN     NaN
6           LR (C=0.01)          9      NaN       NaN    NaN  NaN     NaN
7           LR (C=0.01)         10      NaN       NaN    NaN  NaN     NaN

In [20]:
Score_mi_C01_norm = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_C01_norm['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_C01_norm['Classification_Method']='LR (C=0.01)'
Score_mi_C01_norm

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0           LR (C=0.01)          3      NaN       NaN    NaN  NaN     NaN
1           LR (C=0.01)          4      NaN       NaN    NaN  NaN     NaN
2           LR (C=0.01)          5      NaN       NaN    NaN  NaN     NaN
3           LR (C=0.01)          6      NaN       NaN    NaN  NaN     NaN
4           LR (C=0.01)          7      NaN       NaN    NaN  NaN     NaN
5           LR (C=0.01)          8      NaN       NaN    NaN  NaN     NaN
6           LR (C=0.01)          9      NaN       NaN    NaN  NaN     NaN
7           LR (C=0.01)         10      NaN       NaN    NaN  NaN     NaN

In [22]:
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]))

[None, None, None, None, None, None, None, None]

In [23]:
Score_mi_C01

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=0.01),3,0.76914,0.767007,0.735897,0.736069,0.852749
1,LR (C=0.01),4,0.803297,0.790764,0.730952,0.742924,0.858433
2,LR (C=0.01),5,0.806595,0.796918,0.755311,0.780397,0.884154
3,LR (C=0.01),6,0.802079,0.814103,0.750183,0.747735,0.878886
4,LR (C=0.01),7,0.816487,0.821483,0.752747,0.782033,0.879449
5,LR (C=0.01),8,0.804122,0.815215,0.750366,0.777213,0.88209
6,LR (C=0.01),9,0.806452,0.820079,0.750366,0.779163,0.87439
7,LR (C=0.01),10,0.810789,0.821759,0.750366,0.775502,0.875302

In [24]:
Score_mi_C01_norm

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=0.01),3,0.795556,0.825888,0.657143,0.778243,0.879821
1,LR (C=0.01),4,0.828566,0.853652,0.762454,0.811229,0.859806
2,LR (C=0.01),5,0.823154,0.874954,0.736081,0.791825,0.893243
3,LR (C=0.01),6,0.830681,0.883968,0.731136,0.795267,0.897137
4,LR (C=0.01),7,0.839534,0.878422,0.753114,0.813152,0.894685
5,LR (C=0.01),8,0.83724,0.889954,0.740842,0.822,0.897766
6,LR (C=0.01),9,0.838351,0.883877,0.777289,0.811116,0.896618
7,LR (C=0.01),10,0.849355,0.886986,0.767766,0.823444,0.901546

### LR (C=0.1)

In [25]:
Score_mi_C1 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_C1['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_C1['Classification_Method']='LR (C=0.1)'
Score_mi_C1

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0            LR (C=0.1)          3      NaN       NaN    NaN  NaN     NaN
1            LR (C=0.1)          4      NaN       NaN    NaN  NaN     NaN
2            LR (C=0.1)          5      NaN       NaN    NaN  NaN     NaN
3            LR (C=0.1)          6      NaN       NaN    NaN  NaN     NaN
4            LR (C=0.1)          7      NaN       NaN    NaN  NaN     NaN
5            LR (C=0.1)          8      NaN       NaN    NaN  NaN     NaN
6            LR (C=0.1)          9      NaN       NaN    NaN  NaN     NaN
7            LR (C=0.1)         10      NaN       NaN    NaN  NaN     NaN

In [26]:
Score_mi_C1_norm = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_C1_norm['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_C1_norm['Classification_Method']='LR (C=0.1)'
Score_mi_C1_norm

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0            LR (C=0.1)          3      NaN       NaN    NaN  NaN     NaN
1            LR (C=0.1)          4      NaN       NaN    NaN  NaN     NaN
2            LR (C=0.1)          5      NaN       NaN    NaN  NaN     NaN
3            LR (C=0.1)          6      NaN       NaN    NaN  NaN     NaN
4            LR (C=0.1)          7      NaN       NaN    NaN  NaN     NaN
5            LR (C=0.1)          8      NaN       NaN    NaN  NaN     NaN
6            LR (C=0.1)          9      NaN       NaN    NaN  NaN     NaN
7            LR (C=0.1)         10      NaN       NaN    NaN  NaN     NaN

In [28]:
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))

[None, None, None, None, None, None, None, None]

In [29]:
Score_mi_C1

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=0.1),3,0.784409,0.84392,0.755128,0.769459,0.87717
1,LR (C=0.1),4,0.805412,0.802576,0.779121,0.808856,0.878349
2,LR (C=0.1),5,0.840824,0.823849,0.786264,0.803581,0.890238
3,LR (C=0.1),6,0.828638,0.840788,0.781502,0.809014,0.891401
4,LR (C=0.1),7,0.821971,0.853422,0.784249,0.813345,0.889873
5,LR (C=0.1),8,0.834014,0.851299,0.779487,0.81022,0.893099
6,LR (C=0.1),9,0.840609,0.854693,0.793773,0.819286,0.889964
7,LR (C=0.1),10,0.835161,0.855775,0.791575,0.811888,0.894147

In [30]:
Score_mi_C1_norm

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=0.1),3,0.805591,0.813037,0.750366,0.763998,0.850994
1,LR (C=0.1),4,0.822007,0.833914,0.767033,0.825427,0.885935
2,LR (C=0.1),5,0.834158,0.852182,0.786996,0.812741,0.896667
3,LR (C=0.1),6,0.833047,0.850504,0.776923,0.798104,0.89675
4,LR (C=0.1),7,0.841828,0.854346,0.774908,0.816726,0.894479
5,LR (C=0.1),8,0.836308,0.868873,0.774725,0.824766,0.893516
6,LR (C=0.1),9,0.845054,0.864725,0.791575,0.808464,0.90259
7,LR (C=0.1),10,0.841792,0.866962,0.786813,0.816607,0.904971

### LR (C=10)

In [31]:
Score_mi_C10 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_C10['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_C10['Classification_Method']='LR (C=10)'
Score_mi_C10

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0             LR (C=10)          3      NaN       NaN    NaN  NaN     NaN
1             LR (C=10)          4      NaN       NaN    NaN  NaN     NaN
2             LR (C=10)          5      NaN       NaN    NaN  NaN     NaN
3             LR (C=10)          6      NaN       NaN    NaN  NaN     NaN
4             LR (C=10)          7      NaN       NaN    NaN  NaN     NaN
5             LR (C=10)          8      NaN       NaN    NaN  NaN     NaN
6             LR (C=10)          9      NaN       NaN    NaN  NaN     NaN
7             LR (C=10)         10      NaN       NaN    NaN  NaN     NaN

In [32]:
Score_mi_C10_norm = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_C10_norm['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_C10_norm['Classification_Method']='LR (C=10)'
Score_mi_C10_norm

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0             LR (C=10)          3      NaN       NaN    NaN  NaN     NaN
1             LR (C=10)          4      NaN       NaN    NaN  NaN     NaN
2             LR (C=10)          5      NaN       NaN    NaN  NaN     NaN
3             LR (C=10)          6      NaN       NaN    NaN  NaN     NaN
4             LR (C=10)          7      NaN       NaN    NaN  NaN     NaN
5             LR (C=10)          8      NaN       NaN    NaN  NaN     NaN
6             LR (C=10)          9      NaN       NaN    NaN  NaN     NaN
7             LR (C=10)         10      NaN       NaN    NaN  NaN     NaN

In [40]:
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[10,10,10,10,10,10,10,10]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[10,10,10,10,10,10,10,10]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[10,10,10,10,10,10,10,10]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[10,10,10,10,10,10,10,10]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[10,10,10,10,10,10,10,10]))

[None, None, None, None, None, None, None, None]

In [41]:
Score_mi_C10

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=10),3,0.810896,0.809971,0.762271,0.772274,0.877401
1,LR (C=10),4,0.813118,0.835553,0.784066,0.82677,0.887993
2,LR (C=10),5,0.823011,0.835438,0.772527,0.806699,0.894616
3,LR (C=10),6,0.8319,0.849594,0.781868,0.806478,0.894878
4,LR (C=10),7,0.836344,0.862,0.784249,0.810277,0.89469
5,LR (C=10),8,0.832867,0.849006,0.781685,0.814571,0.888833
6,LR (C=10),9,0.830789,0.842243,0.781685,0.807342,0.886353
7,LR (C=10),10,0.82853,0.840574,0.786447,0.806327,0.890251

In [42]:
Score_mi_C10_norm

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=10),3,0.776631,0.79906,0.791575,0.781761,0.860897
1,LR (C=10),4,0.809713,0.835553,0.786813,0.825744,0.889737
2,LR (C=10),5,0.83086,0.831836,0.788828,0.809808,0.886608
3,LR (C=10),6,0.830824,0.849594,0.779304,0.824032,0.893366
4,LR (C=10),7,0.837384,0.845026,0.77967,0.810773,0.901078
5,LR (C=10),8,0.835233,0.862484,0.779487,0.815483,0.890484
6,LR (C=10),9,0.829677,0.853911,0.789194,0.81683,0.898588
7,LR (C=10),10,0.839606,0.843809,0.789194,0.818204,0.896958

### LR (C=100)

In [43]:
Score_mi_C100 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_C100['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_C100['Classification_Method']='LR (C=100)'
Score_mi_C100

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0            LR (C=100)          3      NaN       NaN    NaN  NaN     NaN
1            LR (C=100)          4      NaN       NaN    NaN  NaN     NaN
2            LR (C=100)          5      NaN       NaN    NaN  NaN     NaN
3            LR (C=100)          6      NaN       NaN    NaN  NaN     NaN
4            LR (C=100)          7      NaN       NaN    NaN  NaN     NaN
5            LR (C=100)          8      NaN       NaN    NaN  NaN     NaN
6            LR (C=100)          9      NaN       NaN    NaN  NaN     NaN
7            LR (C=100)         10      NaN       NaN    NaN  NaN     NaN

In [44]:
Score_mi_C100_norm = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_mi_C100_norm['#Features']=[3,4,5,6,7,8,9,10]
Score_mi_C100_norm['Classification_Method']='LR (C=100)'
Score_mi_C100_norm

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0            LR (C=100)          3      NaN       NaN    NaN  NaN     NaN
1            LR (C=100)          4      NaN       NaN    NaN  NaN     NaN
2            LR (C=100)          5      NaN       NaN    NaN  NaN     NaN
3            LR (C=100)          6      NaN       NaN    NaN  NaN     NaN
4            LR (C=100)          7      NaN       NaN    NaN  NaN     NaN
5            LR (C=100)          8      NaN       NaN    NaN  NaN     NaN
6            LR (C=100)          9      NaN       NaN    NaN  NaN     NaN
7            LR (C=100)         10      NaN       NaN    NaN  NaN     NaN

In [46]:
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[100,100,100,100,100,100,100,100]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[100,100,100,100,100,100,100,100]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[100,100,100,100,100,100,100,100]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[100,100,100,100,100,100,100,100]))
list(map(apply_mi, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[100,100,100,100,100,100,100,100]))

[None, None, None, None, None, None, None, None]

In [48]:
Score_mi_C100

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=100),3,0.809749,0.790785,0.755128,0.781761,0.845448
1,LR (C=100),4,0.846344,0.870722,0.794139,0.809741,0.89383
2,LR (C=100),5,0.823082,0.846181,0.788828,0.797548,0.894766
3,LR (C=100),6,0.8319,0.821163,0.781685,0.799514,0.889902
4,LR (C=100),7,0.825233,0.856027,0.781685,0.815291,0.8897
5,LR (C=100),8,0.836308,0.846277,0.781685,0.813135,0.897416
6,LR (C=100),9,0.828423,0.842889,0.781685,0.819432,0.898306
7,LR (C=100),10,0.831864,0.842231,0.781685,0.80694,0.891256

In [49]:
Score_mi_C100_norm

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=100),3,0.806703,0.771355,0.791575,0.781761,0.877401
1,LR (C=100),4,0.826416,0.870722,0.794139,0.789287,0.86554
2,LR (C=100),5,0.81871,0.825647,0.772527,0.798589,0.892522
3,LR (C=100),6,0.830824,0.840735,0.781868,0.810168,0.891442
4,LR (C=100),7,0.837384,0.856027,0.786447,0.805648,0.897951
5,LR (C=100),8,0.835125,0.860413,0.784249,0.821943,0.900152
6,LR (C=100),9,0.838459,0.843037,0.789194,0.812406,0.898728
7,LR (C=100),10,0.839606,0.853741,0.782051,0.814247,0.89589